{% load static %}

<div class="jumbotron">


   <h2 class="display-4">Tips and tricks with vscode</h2>
   <p class="lead"> Some quick resources to optimise your vscode experience and coding efficiency</p>


<div class="profile_pic">
   <img src="{{ post.author.image.url}}" alt="..." class="img-circle profile_img">



</div>

<small>by {{ post.author }}</small>
</div>


<div class="x_content">
   <ul class="list-unstyled timeline">
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>ALT</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a class="">Multi-cursor editing</a>
               </h2>
               <p class="excerpt mt-3">
                  <code >alt</code> - shifts highlighted line (up or down) <br>
                  <code >ctrl + alt</code> - Add another cursor (up or down) <br>
                  <code >ctrl + Shift + L</code> - Highlights all occurances of the word <br>


               </p>
            </div>
         </div>
      </li>
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>copy</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Line Actions</a>
               </h2>

               <p class="excerpt mt-3">


                  <code >Shift + alt (up/down)</code> - Copies a line and inserts it (above/below)
                  <br>
                  <code >ctrl + shift + K</code> - Deletes entire line <br>
                  <code >ctrl + /</code> - Comments out entire line <br>

               </p>
            </div>
         </div>
      </li>
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>Rename refactoring</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Rename refactoring</a>
               </h2>
               <p class="excerpt mt-3">
                  Hover over class name or variable name, press <code >F2</code>,<br>
                  to rename the object everywhere in the project.

               </p>
            </div>
         </div>
      </li>
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>Folder code</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Folder code</a>
               </h2>

               <p class="excerpt mt-3">
                  <code >Ctrl + shift + [</code> - Fold the code <br>
                  <code >Ctrl + shift + ]</code> - Unfold the code <br>
                  <code >Ctrl + K ctrl + 0</code> - Fold all code <br>
                  <code >Ctrl + K ctrl + J</code> - Unfold all code <br>



               </p>
            </div>
         </div>
      </li>
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>Errors</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Errors</a>
               </h2>

               <p class="excerpt mt-3">
                  <code >F8</code> - cycles through all errors (cautions) in the project
               </p>
            </div>
         </div>
      </li>
      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>Abbrvs.</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Emmet abbreviations</a>
               </h2>

               <p class="excerpt mt-3">
                  <a href="https://docs.emmet.io/cheat-sheet/ ">Read&nbsp;More...</a>
               </p>
            </div>
         </div>
      </li>

      <li>
         <div class="block">
            <div class="tags">
               <a href="" class="tag">
                  <span>Productivity</span>
               </a>
            </div>
            <div class="block_content">
               <h2 class="title">
                  <a>Productivity</a>
               </h2>

               <p class="excerpt mt-3">

                  <code >Ctrl + \</code> - Split the screen <br>
                  <code >Ctrl + K ctrl + S</code> - Opens shortcuts menu <br>

               </p>
            </div>
         </div>
      </li>
   </ul>

</div>
